
body{
    
    background:url(../images/backgroundmobile.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Droid Sans', sans-serif;
    font-variant: italic;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -0-box-sizing: border-box;
    
}

.body--concert-background{
    background:url(../images/background.jpg) no-repeat center top;
}
