/**************************** RESPONSIVE ***********************/

@media only screen and (min-width: 600px){
    
.description{
    background:rgba(0,0,0,.65);
    border-top: 1px solid white;
    border-top: 1px solid white;
    display:block;
    line-height: 1.5em;
    margin:0 auto;
    padding:.5em 1em;
    width:350px;
}
}


@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports that meet the condition */




.form-inline{
    border-top-left-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-top-left-radius: 15px;
    -o-border-top-left-radius: 15px;

    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -o-border-top-right-radius: 10px;
}

.btn--action{
    
    margin: 2em auto;
    height: 100px;
    width:100px;
}

.container{

    border-left:1px solid #999;
    border-right:1px solid #999;
    margin-left: 10%;
    margin-top: 2em;
    padding: 0 1.5em;
    width: 80%;
}






}

@media only screen and (min-width: 1024px) {
    /* Style adjustments for viewports that meet the condition */

body{

    background:url(../images/background.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 16px;
    box-sizing: border-box;
    
}

header h1{
    color:rgba(200,0,150,1);
}

header img{
   
    width: 190px;
}

.credits{
   
    top:29%;
  
}

}