/*************************H E A D E R*************************/

header{
    
    display: block;
    margin:0;
    width: 100%;
    padding:1.5em 0 2em 0;
    position: relative;
}




header h1{
    color: rgba(255,255,255,.95); 
    font-weight: normal;
    margin:.35em 0 0 0;
    text-align: center;
    padding:0;
}


.h1-big{
    
    font-size: 250%;
    font-weight: bold;
    
}

header img{
    background: rgba(255,255,255,1);
    border-radius: 50%;
    display:block;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    margin:1em auto .25em auto;
    padding: 1px;
    position: relative;
    width: 130px;
}

header p{
    color: rgba(255,255,255,.9);
    padding: .35em;
    text-align: center;
}



/********************FIN HEADER****************************/
